<div class="col-lg-3">
  <h1 class="my-4">BWA Adonis</h1>
  <div class="list-group">
    <a href="/daftarbuku" class="list-group-item">Daftar Buku</a>
    <a href="/inputbuku" class="list-group-item">Input Buku</a>
  </div>
  </div>
